@using TwitterApp.Nancy.AspNet.Auth
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TwitterApp.Nancy.Search.Models.SearchViewModel>

@{
    Layout = "_Layout.cshtml";
}
<h3>Sign In With Twitter</h3>
<a class="btn-default" href="@ViewBag.AuthUrl">Sign In</a>