@using TwitterApp.Nancy.AspNet.Auth
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<TwitterApp.Core.Models.Tweet>

@{
    Layout = "_Layout.cshtml";
    string message = ViewBag.Message ?? Request.Query.Message;
}


@if (message != null)
{
    <div class="alert alert-info" role="alert">
        @message
    </div>
}

<h3>Send A Tweet</h3>

<form class="form" role="form" method="post" autocomplete="off">

    <div class="form-group">
        <label class="control-label" for="Content">Content</label>
        <input type="text" class="form-control" id="Content" name="Content">
    </div>
    <button type="submit" class="btn btn-success">Send Tweet</button>
</form>


@if (Model != null)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Id:
            </td>
            <td>
                @Model.Id
            </td>
        </tr>
        <tr>
            <td>
                Author:
            </td>
            <td>
                @Model.AuthorScreenName
            </td>
        </tr>
        <tr>
            <td>
                Content:
            </td>
            <td>
                @Model.Content
            </td>
        </tr>
        <tr>
            <td>
                Sent:
            </td>
            <td>
                @Model.CreatedDate
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <form role="form" method="post" action="/tweet/delete/@Model.Id">
            <button type="submit" class="btn btn-danger">Delete Tweet</button>
        </form>
    </div>
}